<header  data-aos="fade-down" class="text-white z-50 flex fixed w-full px-5 justify-around">
    <nav class="p-1 px-5 rounded-b-xl bg-white/10 border-1 border-white/10 backdrop-blur-xs">
        <ul class="[&_a]:hover:text-purple-300 flex gap-5 text-md [&_IMG]:w-5 [&_a]:flex [&_a]:gap-0.5">
            <a href="/#sobremi">
                <img src="/icons/Profile.svg" alt="">
                <p>Sobre mí</p>
            </a>
            <a href="/#projects">
                <img src="/icons/Bag.svg" alt="bag svg icon">
                <p>Proyectos</p>
            </a>
            <a href="/#contact">
                <img src="/icons/Phone.svg" alt="">
                <p>Contáctame</p>
            </a>
        </ul>
    </nav>
</header>